* {
    box-sizing: border-box;
    color: #113f67;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.full-page {
    width: 600px;
    height: 100%;
    display: block;
    background: #a2a8d3;
    margin: 50px auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.search-container {
    padding: 20px;
    position: relative;
}

.cities {
    margin-bottom: 10px;
    margin-left: 30px;
}

.city-name {
    display: inline;
    margin-right: 10px;
    border: none;
    background: none;
}

form {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

input,
.fa-search,
.fa-button {
    border: none;
    outline: none;
    border-radius: 5px;
}

input {
    width: 100%;
    height: 42px;
    background: linear-gradient(to top, #a2a8d3 0%, white 100%);
    padding-left: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.fa-button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    cursor: pointer;
}

button.fa-button:before {
    font-size: 10px;
}

.top-buttons {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.icon-top-mes,
.icon-top-set {
    border: none;
    background: none;
}

.main-container {
    display: inline-block;
}

.main-info {
    width: 600px;
    text-align: center;
}

.box-info {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 20px;
    height: 90px;
}

.degrees-info,
.city-info,
.date-info {
    display: table-cell;
}

.city-info {
    margin: 20px 50px;
}

.current-degrees-day,
.current-time {
    font-weight: bold;
    font-size: 20px;
}

a.units-style {
    text-decoration: none;
}

.active {
    color: #113f67;
    cursor: default;
    text-decoration: none;
}

.inactive {
    color: #38598b;
    cursor: default;
    text-decoration: none;
}

.inactive:hover {
    color: #38598b;
    cursor: default;
    text-decoration: none;
}

.linkshover {
    color: #38598b;
}

.linkshover:hover {
    color: #38598b;
    cursor: default;
}

.active:hover {
    text-decoration: none;
    color: #38598b;
    cursor: default;
}

.current-city {
    font-weight: bold;
    font-size: 25px;
}

.additional-info {
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
    font-weight: lighter;
    font-size: 13px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90px;
}

.this-day-weather-info {
    background: #d6dbf1;
    margin: 0 auto;
    width: 90%;
}

.five-days-after {
    display: inline-flex;
    align-items: flex-start;
    margin: 40px auto;
}

.description {
    text-transform: capitalize;
}

.frst-day {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: 200ms;
    width: 110px;
    background: linear-gradient(to left, #d6dbf1 40%, rgba(250, 250, 250, 0));
}

.next-degrees-min {
    color: gray;
    font-size: 15px;
}

.frst-day:hover,
.snd-day:hover,
.thrd-day:hover,
.frth-day:hover,
.ffth-day:hover {
    opacity: 1;
    transform: scaleX(1) scaleY(1) translateY(-10%);
    transition: 500ms;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.weather-icon {
    width: 100px;
    margin-top: -10px;
}

.next-day-name,
.next-day-name2,
.next-day-name3,
.next-day-name4,
.next-day-name5 {
    font-size: 20px;
    font-weight: bold;
}

.next-icon,
.next-icon2,
.next-icon3,
.next-icon4,
.next-icon5 {}

button.btn-link {
    text-decoration: none;
    color: #113f67;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: -17px auto 20px auto;
}